@font-face {
    font-style: normal;
    font-family: 'PTSans';
    font-display: swap;
    font-weight: 400;
    src: local('PTSans'), url("../fonts/ptsans-regular.woff2") format("woff2"), url("../fonts/ptsans-regular.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-family: 'PTSans';
    font-display: swap;
    font-weight: 700;
    src: local('PTSans'), url("../fonts/ptsans-bold.woff2") format("woff2"), url("../fonts/ptsans-bold.woff") format("woff");
}

@font-face {
    font-style: normal;
    font-family: 'BebasSans';
    font-display: swap;
    font-weight: 400;
    src: local('PTSans'), url("../fonts/bebasneue-regular.woff2") format("woff2"), url("../fonts/bebasneue-regular.woff") format("woff");
}